<div class="col-md-12">
  <div class="container-fluid">
    <div class="row">
    <app-loader *ngIf="loading" [text]="'Organizing data into proper position..'"></app-loader>
    <div *ngIf="orgUnitHeader && !loading">
      <h4>{{orgUnitHeader.title}}</h4>
      <hr>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th *ngFor="let header of orgUnitHeader.headers">{{header.name}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let row of orgUnitHeader.rows ">
          <td *ngFor="let data of row ">{{data}}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


</div>


